<div id="mainbox">
    <p>Hello.</p>
    <p>The current website IP is configured to <strong>{{WEBSITE_IP}}</strong></p>
</div>

<style>
    #mainbox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
</style>