<div id="maincontainer">
    <img src="/images/machine.png" style="width: 50%; margin: 5px; max-width: 150px"/>
    <p>Saved attributes for the machine:</p>
    <p style="margin-bottom: 5px;"><strong>{{this.machine.attributes.name}}</strong></p>
    <a style="margin: 0 3px 0 3px" class="button is-info" href="/machines">Go back to the machines page</a>
    <span style="margin-top: 15px;">Field <strong>|</strong> Value</span>
    <div id="kvpcontainer" action="http://{{WEBSITE_IP}}:3000/machines"></div>
</div>

<style>
    #maincontainer {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    #kvpcontainer > * {
        margin-top: 5px;
        margin-bottom: 5px;
    }
</style>

<script>
    function newKvpraw(key, value) {
        return `<div style="display: flex; flex-direction: row; justify-content: center; align-items: center;" class="keyvaluepair-partial-kvp-container"><input class="input" style="width:40%" type="text"placeholder="key" value="${key}" readonly/><span><strong> | </strong></span><input class="input" style="width:40%" type="text"placeholder="value" value="${value}" readonly/></div>`
    }

    axios.get("http://{{WEBSITE_IP}}:3000/api/machines/{{this.machine.id}}").then(r => {
        const container = document.querySelector("#kvpcontainer");
        for (key of Object.keys(r.data.attributes)) {
            container.insertAdjacentHTML("beforeend", newKvpraw(key, r.data.attributes[key]));
        }
    })
</script>