<div class="keyvaluepair-partial-kvp-container" "display: flex; flex-direction: row;">
    <input type="text" placeholder="key" value="{{initialKeyValue}}" {{#if disabled}} disabled {{/if}} />
    <span><strong>|</strong></span>
    <input type="text" placeholder="value" value="{{intialValueValue}}" {{#if disabled}} disabled {{/if}} />
</div>