<div class="keyvaluepair-partial-kvp-container" style="display: flex; flex-direction: row; justify-content: center; align-items: center;">
    <input class="input" style="width:40%" type="text" placeholder="key" value="{{initialKeyValue}}" {{#if disabled}} disabled {{/if}} {{#if readonly}} readonly {{/if}} />
    <span><strong>|</strong></span>
    <input class="input" style="width:40%" type="text" placeholder="value" value="{{intialValueValue}}" {{#if disabled}} disabled {{/if}} />
</div>