<div>
    <button id="navbar-hide-button" class="button is-info" onclick="togglemenu()">Menu</button>
    <div style="display: none" id="navbar-menu-container" class="columns is-centered">
        <div class="navbar-button-holder column"><a href="/" style="width:95%" class="is-info button">Home</a></div>
        <div class="navbar-button-holder column"><a href="/machines" style="width:95%" class="is-info button">Machines</a></div>
        <div class="navbar-button-holder column"><a href="/tools" style="width:95%" class="is-info button">Tools</a></div>
        <div class="navbar-button-holder column"><a href="/parts" style="width:95%" class="is-info button">Parts</a></div>
        <div class="navbar-button-holder column"><a href="/scheduling" style="width:95%" class="is-info button">Scheduling</a></div>
    </div>
</div>

<style>
    #navbar-hide-button {
        top: 5px;
        left: 3px;
        margin-bottom: 5px;
    }

    @media screen and (min-width: 769px) {
        #navbar-menu-container {
            display: flex;
        }
    }

    @media screen and (max-width: 769px) {
        #navbar-menu-container {
            display: block;
        }
    }

    .navbar-button-holder {
        display: flex;
        justify-content: center;
    }

    .navbar-button-holder > * {
        margin-top: 5px
    }
</style>

<script>
    function togglemenu() {
        let t = document.getElementById("navbar-menu-container");
        t.style.display = (t.style.display == "none" ? t.removeAttribute("style") : t.style.display = "none")
    }
</script>