<iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>
<div class="contentholder" style="width: 60%;">
    <img src="/images/part.png" style="width:50%; max-width: 180px;" />
    <span class="title is-4" style="margin: 5px 0 5px 0;">Create a new part</span>
    <p>Name is the only required field. You can add ops and machines from the part library.</p>
    
    <form class="contentholder" id="partform" action="http://{{WEBSITE_IP}}:3000/api/parts" target="dummyframe" method="POST" >
        <label for="name"><b>Name:</b></label>
        <input autocomplete="off" class="input" type="text" placeholder="Name" name="name" required>

        <button id="sub" type="button" class="button is-info" onclick="subfunc(this)">Create part</button>
        <a href="/parts/{{this.part.partId}}" class="button is-danger" style="margin-bottom: 3px;">Cancel part creation</a>
    </form>
</div>

<style>
    .contentholder {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    form > * {
        margin: 3px 0 3px 0;
    }

    form > input {
        width: 230px !important;
    }

    button:last-child {
        margin-top: 10px;
    }

    .shakeanimation {
        animation: shake 0.5s cubic-bezier(.36,.07,.19,.97) both;
        transform: translate3d(0, 0, 0);
    }

    @keyframes shake {
        10%, 90% {
            transform: translate3d(-1px, 0, 0);
        }
        
        20%, 80% {
            transform: translate3d(2px, 0, 0);
        }

        30%, 50%, 70% {
            transform: translate3d(-4px, 0, 0);
        }

        40%, 60% {
            transform: translate3d(4px, 0, 0);
        }
    }
</style>

<script>
    const updateTextInput = val => document.getElementById('slideroutput').innerText = val;

    function subfunc(e) {
        if (!document.querySelector("#partform").checkValidity()) {
            let subbutt = document.querySelector("#sub");
            subbutt.setAttribute("onclick", "");
            subbutt.classList.remove("is-info");
            subbutt.classList.add("is-warning");
            subbutt.classList.add("shakeanimation");
            subbutt.textContent = "Please fill in all fields!"
            setTimeout(() => {
                subbutt.classList.add("is-info")
                subbutt.classList.remove("is-warning");
                subbutt.classList.remove("shakeanimation");
                subbutt.textContent = "Create part"
                subbutt.setAttribute("onclick", "subfunc(this)");
            }, 3000)
            return;
        }

        e.setAttribute("type", "button")
        e.setAttribute("onclick", "");
        document.querySelector("#partform").submit();
        e.classList.add("is-loading");
        setTimeout(() => {
            e.classList.remove("is-loading");
            e.classList.remove("is-info");
            e.classList.add("is-success");
            e.textContent = "Success. Click again to return to the part library."
            e.setAttribute("onclick", `window.location.href="/parts"`)
        }, 750)

        
    }
</script>